
// bottom border in header
.header {
	position: relative;
	border-bottom: 1px solid #ececec;
	width: 100%;
	height: 60px;
}

.nav__logo {
	font-family: 'Raleway', sans-serif;
	color: var(--primary-text-color);
	font-weight: 700;
	font-size: 24px;
	line-height: 1.16;
	letter-spacing: 0.03em;

	margin-top: 16px;
	margin-bottom: 16px;
	margin-left: 15px;

}

// the color of the "Web" in the logo
.accent {
	color: var(--accent-color);
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

// remove extreme geometry
.nav__list .nav__item + .nav__item {
	// margin-left: 50px;
}

// the text of the links in the header
.nav__list {
	// color: var(--primary-text-color);
	// font-size: 14px;
	// font-weight: 500;
	// line-height: 1.1;
	// letter-spacing: 0.02em;

	// display: flex;
	// margin-left: 93px;

	// @include tablet-min-768 {
	// 	display: none;
	// }

	@include tablet-max-767 {
		display: none;
	}
}

//increase the size of the clickable sector for links in the navigation
.nav__link {
	// display: block;
	// padding-top: 32px;
	// padding-bottom: 32px;

	// transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	// &:hover,
	// &:focus {
	// 	color: var(--accent-color);
	// }
}

//the current page marker
.nav__link--current {
	// position: relative;

	// color: var(--accent-color);

	// //underline for the current page
	// &::after {
	// 	position: absolute;
	// 	content: '';
	// 	display: block;

	// 	width: 100%;
	// 	height: 4px;
	// 	bottom: 0;
	// 	left: 0;
	// 	border-radius: 2px;

	// 	background: var(--accent-color);
	// }
}

//mail and phone number in the header
.nav-address__list {
	// display: flex;
	// margin-left: auto;

	// font-size: 14px;
	// font-weight: 500;
	// line-height: 1.1;
	// letter-spacing: 0.02em;

	@include tablet-max-767 {
			display: none;
		}
}

//the color of the mail and phone text in the header
.nav-address__item {
	// display: flex;

	// color: var(--paragraph-color);
	// font-size: 14px;
	// font-weight: 500;
	// line-height: 1.1;
	// letter-spacing: 0.02em;
}

//change the color of the mail text and the phone number in the header and increase the size of the clickable sector
.nav-address__link {
	// display: flex;
	// align-items: center;
	// gap: 10px;
	// padding-top: 32px;
	// padding-bottom: 32px;

	// color: var(--paragraph-color);

	// transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	// //when hover on the link - mail and phone number change color
	// &:hover,
	// &:focus {
	// 	color: var(--accent-color);
	// }

	// 	//when hover on the link - envelope and mobile phone icons change color
	// &:hover .nav-address__icon,
	// &:focus .nav-address__icon {
	// 	fill: var(--accent-color);
	// }
}

//remove the extreme geometry for mail in the header
.nav-address__list .nav-address__item + .nav-address__item {
	// margin-left: 50px;
}

//the color of the envelope and mobile phone icons in the header
.nav-address__icon {
	// fill: #757575;

	// transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__btn {
	display: inline-flex;
	width: 40px;
	height: 40px;
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
	align-items: center;
	justify-content: center;

	@include mobile-min-480 {
		display: none;
	}
}

// @media screen and (min-width: 768px) {
// 	.nav__btn {
// 	display: none;}
// }


.nav__icon {
	// display: inline-flex;
	// align-items: center;
	// justify-content: center;
	width: 18px;
	height: 18px;
}

.nav__icon-close {
	display: none;
}

.nav__btn.is-open .nav__icon-close {
	display: block;
}

.nav__btn.is-open .nav__icon-stripes {
	display: none;
}

.menu-container {
	position: fixed;
	top: 0;
	background-color: blue;
	width: 100px;
	height: 100px;
	// width: 100vw;
	// height: 100vh;
	transform: translateY(100%);
	outline: green solid 2px ;

}

.menu-container.is-open {
	transform: translateY(0);
}
