// * {
// 	outline: 1px solid #b0c4de;
// }

.our-projects {
	padding-top: 60px;
	padding-bottom: 60px;

	@media screen and (min-width: 1200px) {
			padding-top: 94px;
			padding-bottom: 94px;
		}
}

//hide the title "our projects"
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

// flex for filter buttons */
.filter-list {
	display: flex;
	justify-content: start;
	flex-wrap: wrap;
	gap: 10px;
	margin-bottom: 40px;

	@media screen and (min-width: 768px) {
			justify-content: center;
		}
}

.filter-button {
	padding: 5px 25px;
	border-radius: 4px;
	border: none;

	color: $primary-text-color;
	background-color: $secondary-background;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.6;
	letter-spacing: 0.03em;
	text-align: center;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
	background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
	box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		border-radius: 4px;

		color: $primary-white-color;
		background-color: $accent-color;
		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
			0px 2px 2px rgba(0, 0, 0, 0.12);
	}
}

.our-projects-list {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;

				@media screen and (min-width: 1200px) {
					justify-content: center;
				}
}

.our-projects-item {
	// margin-bottom: 30px;
	flex-basis: 100%;

		@media screen and (min-width: 768px) {
			flex-basis: calc((100% - 30px) / 2);
		}

				@media screen and (min-width: 1200px) {
					flex-basis: calc((100% - 60px) / 3);
				}
}

.our-projects-item:last-child {
	margin-bottom: 0;

	// @media screen and (min-width: 1200px) {
	// 		margin-bottom: 15px;
	// 	}
}

//give the link block property, because without it hover will not work
.our-projects-link {
	display: flex;
	flex-direction: column;
	height: 100%;
	// display: block;

	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

	//shadow effect when hover on the "our projects" cards
	&:hover,
	&:focus {
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
			1px 4px 6px rgba(0, 0, 0, 0.16);
	}

	//when hover on a link - overlay appears
	&:hover .our-projects-details,
	&:focus .our-projects-details {
		transform: translateY(0);
	}
}

.our-projects-overlay {
	position: relative;
	overflow: hidden;

	// @media screen and (min-width: 1200px) {
	// 		img {
	// 			width: 100%;
	// 		}
	// 	}
}

.our-projects-details {
	position: absolute;

	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 63px 24px;

	//an alternative option on FLEX-s

	/* display: flex;
	align-items: center;
	padding-left: 24px;
	padding-right: 24px; */

	font-size: 18px;
	font-weight: 400;
	line-height: 1.55;
	letter-spacing: 0.03em;
	text-align: left;
	color: $primary-white-color;
	background: rgba(33, 150, 243, 0.9);

	transform: translateY(101%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* div for project description */
.project-description {
	flex-grow: 1;
	padding: 20px 24px;
	border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;

	background-color: $primary-white-color;
}

// .project-description:last-child {
// 	flex-grow: 0;
// }



//titles in "our projects"
.our-projects-title {
	// margin-bottom: 5px;
	// padding: 60px auto;

	color: $primary-text-color;
	font-size: 18px;
	font-weight: 700;
	line-height: 2;
	letter-spacing: 0.06em;
}

.our-projects-post {
	color: $paragraph-color;
	font-size: 16px;
	line-height: 1.9;
	letter-spacing: 0.03em;
	text-align: left;
}
