
//title for "what we do", "team" and "our clients" sections
.common-title {
	margin-bottom: 30px;

	color: $primary-text-color;
	font-size: 28px;
	font-weight: 700;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-align: center;

	@media screen and (min-width: 1200px) {
			margin-bottom: 50px;
			font-size: 36px;
			line-height: 1.17;
		}
}
